<div *ngIf="!name; else forminfo">
<form [formGroup]="rForm"(ngSubmit)="addPost(rForm.value)">
 <div class="form-container">
   <div class="row columns">
     <h1>Intership Registration Form</h1>

     <label>Name 
       <input type="text" formControlName ="name">
     </label>
      <div class="alert" *ngIf="!rForm.controls['name'].valid  && rForm.controls['name'].touched" >{{ titleAlert}}</div>
     <label>About You
      <input type="text" formControlName ="about">
     </label>
     <div class="alert" *ngIf="!rForm.controls['name'].valid  && rForm.controls['name'].touched" >You must specify maximum 100 Characters.</div>

     <label for="validate">Applying for Intership?</label>
     Yes<input type="radio" name="validate" formControlName ="validate" value="Yes">
    
     No<input type="radio" name="validate" formControlName ="validate" value="No"> 
    <br>
     <div class="alert" *ngIf="!rForm.controls['name'].valid  && rForm.controls['name'].touched" >{{ titleAlert}}</div>

     <label for="select">Select your Interest</label>
      <select name="select" formControlName ="select">
      <option>NinthSem</option>
      <option>Core </option>
      <option>Elect Engg</option>
      <option>Mech Engg</option>
      <option>Design Stratergy</option>
     </select>
     <div class="alert" *ngIf="!rForm.controls['name'].valid  && rForm.controls['name'].touched" >{{ titleAlert}}</div>

     <label>Password</label>
     <input type="password" formControlName="password"data-ng-model="maskedValue">
     <div class="alert" *ngIf="!rForm.controls['name'].valid  && rForm.controls['name'].touched" >Password should be of 8 Characters</div>

     <input type="submit" class="button expanded" value="Submit Form" >

   </div>
 </div>
</form>
</div>

<ng-template #forminfo>
  <div class="">
    <div class="">
      <h3>Your name is : {{ name }}</h3>
      <h5>About you:{{ about }}</h5>
      <h5>Have you applied for Intership? {{ validate }}</h5>
      <h5>You  are Interested in  {{ select }}</h5>      
    </div>
  </div>
</ng-template>